@import url(./font/SulphurPoint-Bold.ttf);
@import url(./font/Nunito-VariableFont_wght.ttf);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;

}

a {
  text-decoration: none;
}

.container {
  width: 100vw;
  height: 100vh;
  background: url(./images/unsplash_NDebrH0ZN5c.png) no-repeat center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;

  .details-header {
    font-size: 80px;
    color: #E8E8E8;
    width: 726px;
    height: 300px;
    flex-shrink: 0;
    padding-left: 140px;
  }

  .details-article {
    width: 525px;
    height: 81px;
    flex-shrink: 0;
    color: #E8E8E8;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding-left: 140px;
    line-height: 24px;

  }

  .book-button {
    display: inline-block;
    width: 240px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #D3D3D3;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 140px;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;

  }

  & article {
    display: flex;
    justify-content: start;
    gap: 20px;
    width: 1205;
    position: absolute;
    bottom: -20px;
    right: 140px;

    .box {
      display: flex;
      flex-direction: column;
      width: 395px;
      height: 315px;
      border-radius: 30px;
      border: 3px solid rgba(255, 255, 255, 0.28);
      background: rgba(187, 223, 249, 0.42);
      backdrop-filter: blur(2px);
      text-align: start;
      justify-content: center;
      color: #fff;
      padding: 45px;
      & h2 {
      font-size: 35px;
      }
      & p {
      font-size: 20px;
      }
      & hr {
      border-width: 3px;
      margin: 30px 0;
      border-color: #fff;
      border-radius: 3px;
      } 
    }
    & .box:first-child {
      background: rgba(94, 187, 255, 0.42);
    }
  }
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .logo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logos-write {
      color: #fff;
      font-family: 'Sulphur Point', sans-serif;
      font-size: 43px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-left: 14px;
    }

    .logo-container {
      background-color: #fff;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      position: relative;
      background: url(./images/logo.svg) no-repeat;
      background-size: 26px 24;
      background-position: 5px 8px;
      background-color: #fff;

    }

  }

  .nav-pages {
    display: flex;

    & a {
      font-size: 20px;
      font-weight: 500;
      padding: 0 25px;
      color: #fff;
    }
  }

  .header-user-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-right: 10px;

    .search-input {
      width: 100%;
      height: 40px;
      flex-shrink: 0;
      border-radius: 25px;
      border: 1px solid #E8E8E8;
      background: rgba(255, 255, 255, 0.60);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      margin-right: 36px;
      text-align: center;

      &:focus {
        outline-color: transparent;
      }

    }

    .search-img {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      right: 22%;
      transform: translateY(-50%);
      opacity: .73;
      cursor: pointer;
    }
  }

}